@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

@mixin responsiveSize($padding, $fontSize) {
  .header {
    font-size: $fontSize;
    padding: $padding;
 }
}

.header {
  text-transform: uppercase;
  background: #2F2F2F;
  color: #CFCFCF;
}

//Mixin para redimensionamento para mobile
@include media-breakpoint-up(xs) {
  @include responsiveSize(5px 20px, 1.2rem)
}

@include media-breakpoint-up(sm) {
  @include responsiveSize(5px 20px, 1.2rem)
}

@include media-breakpoint-up(md) {
  @include responsiveSize(5px 80px, 1.4rem)
}

@include media-breakpoint-up(lg) {
  @include responsiveSize(5px 80px, 1.4rem)
}
