@mixin ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.task-item {
  margin-bottom: 15px;
  max-height: 200px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16)), #121212;
  box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14), 0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 20px;
  color: #8c8c8c;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .check-done {
    width: 3%;
    & input {
      cursor: pointer;
    }
  }

  & .title {
    color: #e4e4e4;
    width: 22%;
    @include ellipsis();
  }

  & .description {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 65%;
    margin-left: 5px;
    @include ellipsis();
  }
  & .actions {
    width: 10%;
    display: flex;
    justify-content: flex-end;
    & .action {
      margin-left: 5px;
      cursor: pointer;
    }
  }
}


