<div class="task-item">
  <div class="header">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1"></label>
    </div>
    <div class="title">fazdr chimarão</div>
  </div>
  <div class="description" title="sayuidgasyuihf usdfhusfj hjuashfnuisd hfuashnnksdjh ian hbfashsui djhasuidh">sayuidgasyuihf usdfhusfj hjuashfnuisd hfuashnnksdjh ian hbfashsui djhasuidh </div>
  <div class="actions">
    <img src="../../../assets/edit-icon.svg" class="action" title="Editar tarefa" />
    <img src="../../../assets/remove-icon.svg" class="action" title="Remover tarefa" />
  </div>
</div>