<div class="list-card">
  <div class="title">titulo da list</div>
  <div class="description">Body 2: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </div>
  <div class="actions">
    <img src="../../../assets/edit-icon.svg" class="action" title="Editar lista" />
    <img src="../../../assets/archive-icon.svg" class="action" title="Arquivar lista"/>
    <img src="../../../assets/remove-icon.svg" class="action" title="Remover lista" />
  </div>
</div>