.list-card {
  cursor: pointer;
  margin-bottom: 15px;
  // max-height: 200px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16)), #121212;
  box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14), 0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 20px;
  color: #8c8c8c;
  & .title {
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #e0e0e0;
  }
  & .description {
    font-size: 12px;
    cursor: default;
  }

  & .actions {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    & .action {
      cursor: pointer;
      margin-left: 5px;
    }
  }
}